:root { 
--gray_50_01:#fafcff; 
--gray_700:#666666; 
--gray_50_02:#fcfcfc; 
--blue_gray_200:#bac1ce; 
--blue_gray_100:#d6dae2; 
--gray_50_03:#f9fbff; 
--red_700:#d03329; 
--blue_gray_50:#eaecf0; 
--blue_gray_400:#74839d; 
--blue_A700:#0061ff; 
--blue_A700_01:#0a58ff; 
--gray_300:#e0e0e0; 
--gray_50:#f8f9fa; 
--black_900:#000000; 
--blue_gray_700:#424c5d; 
--blue_gray_900:#262b35; 
--blue_200:#a6c8ff; 
--white_A700:#ffffff; 
}